<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" href="https://github.com/collinol/Chess-opening-analysis">github repo for source</a>

  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a class="w3-bar-item w3-button w3-padding-large" href="https://github.com/collinol/Chess-opening-analysis">github repo for source</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Here's a Thing</h1>
  <!--<button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" >Register</button>-->
    <!-- HERE'S WHERE YOU REPLACE WITH SEARCH BAR -->
    <div class="center-on-page">
    <h1>Enter Chess.com Username</h1>
    <form class="form-inline" method="POST" action="{{ url_for('result') }}">
        <input type="text" name="comp_select" placeholder="chess.com username"><br>

        <button type="submit" class="btn">Go</button>
    </form>
    </div>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Currently working</h1>

        <p class="w3-text-grey"><br>query chess.com api for data and serve html<br>
            <br>trie graph file storage - looks up users and only queries if data > 3 days old<br>
            </p>
    </div>

    <div class="w3-third w3-center">
      <img src="../images/donkey.jpeg" alt="img link not working /shrug">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">

    <div class="w3-twothird">
      <h1>Todos</h1>
      <!--<h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>-->
      <p class="w3-text-grey"><br>Move file storage over to database<br>
      <br>make number of years that the search query goes back, something that can be inputted (default right now is 3)<br>
      <br>Host website on either s3 bucket or gcloud app engine, whichever easier (and cheaper)<br>
      <br>add loading notification/icon/gif when querying -- can take a while for large amount of data <br></p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: "I'm too drunk to taste this chicken" - Colonel Sanders</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
     <p>Some personal project by Collin Olander</p>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
